{
    font-family:arial
    font-size: 16px;

}
body{
    background-color: rgb(134, 89, 177);
}
main{
    background-color: white;
    width: 500px;
    margin:auto;
    padding: 10px;
    box-shadow: 3px 3px 5 px rgba(141, 23, 23, 0.664);
}